develop-eggs/
parts/
*.egg-info/
.installed.cfg
db.sqlite3
pip-selfcheck.json
[Bb]in
[Ii]nclude
[Ll]ib
[Ss]cripts
pyvenv.cfg
__pycache__/
*.py[cod]
*.so
.Python
env/
build/
dist/
downloads/
eggs/
lib64/
sdist/
var/
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.mo
*.pot
*.log
docs/_build/
target/
xapian_index
share
.floo**.lock
