language: python
python:
  - "2.7"
services:
  - redis-server
addons:
  postgresql: "9.3"
install:
  - sudo add-apt-repository -y ppa:zfs-native/stable
  - sudo apt-get update > /dev/null
  - sudo apt-get install -qq libxapian22 xapian-tools python-xapian libzfs-dev
  - ln -s /usr/lib/python2.7/dist-packages/xapian $VIRTUAL_ENV/lib/python2.7/site-packages/.
  - pip install cffi
  - pip install -r requirements/testing.txt
before_script:
  - psql -c 'create database travis_ci_test;' -U postgres
script:
  - coverage run --source=src manage.py test src
after_success: coveralls
