language: python
python:
  - "2.7"
install:
  - mkdir -p buildout-cache/downloads
  - sudo add-apt-repository -y ppa:zfs-native/stable
  - sudo apt-get update
  - sudo apt-get install -qq libxapian22 xapian-tools python-xapian zfsutils
  - ln -s /usr/lib/python2.7/dist-packages/xapian $VIRTUAL_ENV/lib/python2.7/site-packages/.
  - pip install cffi
  - python bootstrap.py -c travis.cfg
  - bin/buildout -c travis.cfg
script:
  - bin/manage test src/
