{% load staticfiles i18n sitetree %}

<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    {#    {% include "components/sidebar/user_panel.html" %}#}

    <!-- search form (Optional) -->
    {% include "components/sidebar/search_form.html" %}

    <!-- Sidebar Menu -->
    {% sitetree_tree from "sidebar" template "components/sidebar/menu.html" %}

    <!-- Sidebar context -->
    {% block sidebar_context %}
      {% if extra_sidebar %}
        <ul class="sidebar-menu" id="{{ extra_sidebar.id }}">
          <li class="header">{{ extra_sidebar.header|upper }}</li>
          {% for item in extra_sidebar.list %}
            <li><a data-target="{{ item.link }}" class="sidebar-link">{{ item.title }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endblock sidebar_context %}
  </section>
</aside>
