<li class="dropdown" dropdown>
    <a class="dropdown-toggle count-info" href dropdown-toggle>
        <i class="fa fa-bell"></i>
        <span class="label label-warning count-info">{{ count }}</span>
    </a>
    <ul class="dropdown-menu dropdown-alerts">
        <notification-item ng-repeat="message in messages track by message.id">
        </notification-item>
        <li>
            <div class="text-center link-block">
                <a ui-sref="notifications_tooltips">
                    <strong>See All Alerts</strong>
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </li>
    </ul>
</li>
