{% load staticfiles i18n sitetree %}

<ul class="sidebar-menu">
  <li class="header">{{ sitetree_items.0.tree.title }}</li>
  {% for item in sitetree_items %}
    <li class="
    {% if item.has_children %}
    treeview
    {% endif %} {% if item.is_current or item.in_current_branch %}
    active
    {% endif %}">
      <a href="
      {% if item.has_children %}
      #
      {% else %}
      {% sitetree_url for item %}
      {% endif %}">
        {{ item.icon.as_html|safe }}
        <span>{{ item.title_resolved }}</span>
        {% if item.has_children %}
          <i class="fa fa-angle-left pull-right"></i>
        {% endif %}
      </a>
      {% if item.has_children %}
        {% sitetree_children of item for menu template "components/sidebar/menu_dropdown.html" %}
      {% endif %}
    </li>
  {% endfor %}
</ul>
